body {
    background-image: url(images\ \(4\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: black;
    background-color: rgba(3, 0, 0, 0.7);
    font-size: 50px;
}

figcaption {
    color: blue
}

#div1 {
    background-color: rgba(0, 0, 0, 0.7);
    width: 500px;
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.5s;
}
div1 :hover {
    width: 250px;
}

.faculdade {
    background-color: blanchedalmond;
}

li:nth-child(1){
    color: red;
}
li{
    transition: 0.5s;
}

li:hover {
    color: pink;
    transition: 0.5s;
}

button:hover{
    position: fixed;
    color: red;
    background-color: black;
    right: 30px;
    bottom: 30px;
    transition: 0.5s; 
}

a {
    position: fixed;
    right: 30pc;
    bottom: 160px;
}

